@font-face {
    font-family: Gotham;
    src: url("/fonts/GothamBook.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: Gotham;
    src: url("/fonts/GothamMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: Gotham;
    src: url("/fonts/GothamBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }